<div class="container  stuck ">
    <div class="jumbotron  m-0 back-pic text-white">
        <div class="row">
            <div class="col-md-3">
                <img src="../../../assets/profile-pic.png" alt="profile-pic" width="200" height="200" class="border">
            </div>
            <div class="col-md-9">
                <div class="row">
                    <h2>Tushar Anand</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="nav container bg-dark text-white">
        <div class="col-md-3">
        </div>
        <div class="col-md-9 ">
            <div class="row">
                <div class="col-md-2 p-2"><i></i><span class="p-2">TimeLine</span></div>
                <div class="col-md-2 p-2"><span class="p-2">About</span></div>
                <div class="col-md-2 p-2"><span class="p-2">Friends</span></div>
                <div class="col-md-2 p-2"><span class="p-2">Photos</span></div>
                <div class="col-md-2 p-2"><span class="p-2">Archive</span></div>
                <div class="col-md-2 p-2"><span class="p-2">More</span></div>
            </div>
        </div>
    </div>
    <div class="mt-4 row text-white">
        <div class="col-md-4">
          <div class="row side-detail">
            <div class="col-md-12">
                <h4>Info</h4>
            </div>
            <div class="col-md-12">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit quaerat non, architecto quibusdam maxime vero porro modi autem dicta
                     odio tempore in aperiam quidem consequuntur dolorum fugiat incidunt itaque eveniet!</p>
                     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit quaerat non, architecto quibusdam maxime vero porro modi autem dicta
                        odio tempore in aperiam quidem consequuntur dolorum fugiat incidunt itaque eveniet!</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit quaerat non, architecto quibusdam maxime vero porro modi autem dicta
                            odio tempore in aperiam quidem consequuntur dolorum fugiat incidunt itaque eveniet!</p>
            </div>
          </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <div class="row bg-dark p-2">
                        <div class="col-md-6"></div>
                        <div class="col-md-2">Photos</div>
                        <div class="col-md-2">Uplods</div>
                        <div class="col-md-2">Feeds</div>
                    </div>
                    <div class="row form-group">
                        <textarea class="col-md-12 form-control"  placeholder="Write Somthing About Yourself.."></textarea>
                    </div>
                </div>
            </div>
          <div class="row">
              <div class="col-md-12 ">
                <div class="row card" style="width: 18rem;">
                    <img class="card-img-top" src="../../../assets/coverPic.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
              </div>
          </div>
        </div>
    </div>
</div>